<div class="sidebar">
  
  <div class="container sidebar-sticky">
    
    <div class="sidebar-about">
      <img class="img-circle" src="https://www.gravatar.com/avatar/b686899384327896f8b5006510e16de0?s=150" ></img>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    
      
    </nav>
    <a href="https://twitter.com/StewRobertson79"><i class="fa fa-2x fa-twitter"></i><a/>&nbsp;&nbsp;
    <a href="https://github.com/stewart-r"><i class="fa fa-2x fa-github"></i><a/>&nbsp;&nbsp;
    <a href="https://uk.linkedin.com/in/stewart-robertson-50a8b061"><i class="fa fa-2x fa-linkedin"></i></a>&nbsp;&nbsp;
    <a href="{{ site.baseurl }}atom.xml"><i class="fa fa-2x fa-rss"></i></a>
  </div>
</div>
